header {
    background-image: url(../images/21.jpg);
    background-size: cover;
}

.small-container {
    width: 95%;
    margin: 0 auto;
}

.overlay {
    background-color: rgba(0, 0, 0, .51);
    width: 100%;
    height: 100%;
}

.violet-overlay {
    background-color: rgba(189, 140, 191, .51);
    width: 100%;
    height: 100%;
    padding: 70px 0;
}
